<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">House Price Prediction</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="/predict" method="POST">


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Area</h5>
                            <!-- Departure -->
                            <input type="text" name="area" id="area" required="required">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bathrooms</h5>
                            <!-- Arrival -->
                            <input type="text" name="bathrooms" id="bathrooms" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bedrooms</h5>
                        <!-- Arrival -->
                        <input type="text" name="bedrooms" id="bathrooms" required="required">
                    </div>
                </div>
            </div>
            <br>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">No of Floors</h5>
                        <!-- Arrival -->
                        <input type="text" name="stories" id="stories" required="required">
                    </div>
                </div>
            </div>
            </div>
    
                <br>
                <div class="row">
                    <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Parking</h5>
                            <input type="text" name="parking" id="parking" required="required">
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                    
                        <div class="col-sm-6">
                        <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Mainroad</h5>
                            <select name="mainroad" id="mainroad" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Basement</h5>
                            <select name="basement" id="basement" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Guest_room</h5>
                            <select name="guest_room" id="guest_room" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>  
            </div>


            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Hotwaterheating</h5>
                            <select name="hotwaterheating" id="hotwaterheating" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            
            



            <br>
            
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Airconditioning</h5>
                            <select name="airconditioning" id="airconditioning" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Preferncearea</h5>
                            <select name="prefarea" id="prefarea" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>



            <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Furnished</h5>
                            <select name="furnishingstatus" id="furnishingstatus" required="required">
                                <option value="furnished">furnished</option>
                                <option value="semifurnished">semifurnished</option>
                                <option value="unfurnished">unfurnished</option>
                            </select>
                        </div>
                    </div>
                </div>
             </div>   



            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>